{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head></head>

  <body>
<div class="card">
  <div class="card-header">
    <h5 class="card-title">Create a New Record</h5>
  </div>
  <div class="card-body">
    {{ .payload }}
    <form action="/item" method="POST">
      <div>
        <input type="text" placeholder="ItemName" name="ItemName"></input>
      </div>
      <br /><br />
      <div>
        <input type="text" placeholder="Location" name="Location"></input>
      </div>
      <br /><br />
      <div>
        <input type="text" placeholder="ItemPrice" name="ItePrice"></input>
      </div>
      <br /><br />
      <div>
        <input type="text" placeholder="ItemBrand" name="ItemBrand"></input>
      </div>
      <br /><br />
      <div>
        <input type="text" placeholder="ItemCategory" name="ItemCategory"></input>
      </div>
      <br /><br />
      <input type="submit" class="btn btn-success">Create</input>
      <br /><br />
    </form>
  </div>
</div>

</body>
</html>