<div class="card">
    <div class="card-header">
        <h5 class="card-title">Update {{ .itemId }} Record</h5>
    </div>
    <div class="card-body">
        <form action="/item/edit/{{ .itemId }}"  method="put">
            <div>
                <input type="text" placeholder="ItemName" name="ItemName"/>
              </div>
              <br /><br />
              <div>
                <input type="text" placeholder="Location" name="Location"/>
              </div>
              <br /><br />
              <div>
                <input type="text" placeholder="ItemPrice" name="ItemPrice"/>
              </div>
              <br /><br />
              <div>
                <input type="text" placeholder="ItemBrand" name="ItemBrand"/>
              </div>
              <br /><br />
              <div>
                <input type="text" placeholder="ItemCategory" name="ItemCategory"/>
              </div>
              <br /><br />
              <input type="submit" class="btn btn-success"/>
              <br /><br />
        </form>
    </div>
</div>

